{{! Previous/next page links - only displayed on page 2+ }}
<div class="extra-pagination inner">
    {{pagination}}
</div>

{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<article class="{{post_class}}">

    <header class="post-header">
        <h2 class="post-title typl8-gamma"><a href="{{url}}">{{{title}}}</a></h2>
    </header>

    {{#if feature_image}}
    <div class="post-thumbnail" id="{{url}}-post-thumbnail">
      <script type="text/javascript">
      var mq = window.matchMedia( "(min-width: 500px)" );
      if (mq.matches){
        var thumbnailContainer = document.getElementById('{{url}}-post-thumbnail')

        if (!String.prototype.contains) {
          String.prototype.contains = function(s) {
            return this.indexOf(s) > -1;
          }
        }

        function homepagePostThumbnail (imgUrl) {
            {{! Firesize has folded ... still looking for an alternative. }}
            // if (!imgUrl.contains("http://") && !imgUrl.contains("https://")) {
            //   fireSizeUrl = "http://firesize.com/x150/g_center/{{@site.url}}";
            // } else {
            //   fireSizeUrl = "http://firesize.com/x150/g_center/";
            // }
            thumbnailContainer.innerHTML = '<img src="'+imgUrl+'" style="max-height: 160px;" alt="{{title}}" />';
        };
        homepagePostThumbnail("{{feature_image}}");
      } //end mediaquery if
      </script>

    </div>
    {{/if}}


    <div class="post-excerpt">
        <p>{{excerpt words="30"}} <span style="color:#ccc;">…</span><a class="read-more" href="{{url}}"> <span>&raquo;</span> </a></p>
    </div>
    <footer class="post-meta">
<!--        {{#if primary_author.profile_image}}<img class="author-thumb" src="{{primary_author.profile_image}}" alt="Author image" nopin="nopin" />{{/if}}-->
        By {{#primary_author}}<a href="{{url}}">{{name}}</a>{{/primary_author}}
        <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMM Do YYYY"}}</time>
        {{tags prefix=" &bull; "}}
    </footer>
</article>
{{/foreach}}

{{! Previous/next page links - displayed on every page }}
{{pagination}}
