{{! Previous/next page links - only displayed on page 2+ }}
<div class="extra-pagination inner">
    {{pagination}}
</div>

{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<article class="{{post_class}}">

    <header class="post-header">
        <h2 class="post-title gamma"><a href="{{url}}">{{{title}}}</a></h2>
    </header>

    {{#if image}}
    <section class="post-thumbnail" id="{{url}}-post-thumbnail">
      <img src="{{image}}" alt="{{title}}" />

      <script>
      if (!String.prototype.contains) {
        String.prototype.contains = function(s) {
          return this.indexOf(s) > -1;
        }
      }

      function homepagePostThumbnail (imgUrl) {
          if (!imgUrl.contains("http://") && !imgUrl.contains("https://")) {
            fireSizeUrl = "http://firesize.com/x150/g_center/{{@blog.url}}";
          } else {
              fireSizeUrl = "http://firesize.com/x150/g_center/";
          }
          document.getElementById('{{url}}-post-thumbnail').innerHTML = '<img src="'+fireSizeUrl+imgUrl+'" alt="{{title}}" />';
      };
      homepagePostThumbnail("{{image}}");
      </script>

    </section>
    {{/if}}


    <section class="post-excerpt">
        <p>{{excerpt words="30"}} <span style="color:#ccc;">…</span><a class="read-more" href="{{url}}"> <span>&raquo;</span> </a></p>
    </section>
    <footer class="post-meta">
        <small>
<!--        {{#if author.image}}<img class="author-thumb" src="{{author.image}}" alt="Author image" nopin="nopin" />{{/if}}-->
        By {{author}} &bull;
        <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM Do YYYY"}}</time>
        {{tags prefix=" &bull; tagged "}}
        </small>
    </footer>
</article>
{{/foreach}}

{{! Previous/next page links - displayed on every page }}
{{pagination}}
