<ul class="nav">
    {{#foreach navigation}}
    <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation">
      <a href="{{url absolute="true"}}">{{label}}</a>
    </li>
    {{/foreach}}

    {{! Membership links }}
    {{#if @labs.members}}
      {{#if @member}}
      <li>
        <a href="{{@site.url}}/account">Account</a>
      </li>
      <li>
        <button role="link" data-members-signout>Sign out</button>
      </li>
      {{else}}
      <li>
        <a href="{{@site.url}}/signin">Log in</a>
      </li>
      <li>
        <a href="{{@site.url}}/signup">Subscribe</a>
      </li>
      {{/if}}
    {{/if}}


    {{! Social media links }}
    {{#if @site.facebook}}
    <span class="meta-spacer"></span>
      <li class="nav-{{facebook_url}}{{#if current}} nav-current{{/if}}" role="presentation">
        <a href="{{facebook_url}}"><span class="icon-facebook"></span></a>
      </li>
    {{/if}}
    {{#if @site.twitter}}
      <li class="nav-{{twitter_url}}{{#if current}} nav-current{{/if}}" role="presentation">
        <a href="{{twitter_url}}"><span class="icon-twitter"></span></a>
      </li>
    {{/if}}
</ul>
