{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}

{{>content-header}}
{{! Everything inside the #author tags pulls data from the author }}
{{#author}}


<br clear="all"><br>
    <section class="author-profile inner">
        {{#if profile_image}}
        <figure class="author-image">
            <div class="img" style="background-image: url({{profile_image}})"><span class="hidden">{{name}}'s Picture</span></div>
        </figure>
        {{/if}}
        <h1 class="author-title">{{name}}</h1>
        <em class="author-bio">{{bio}}</em>
        <div class="author-meta">
            {{#if location}}<span class="author-location icon-location">{{location}}</span>{{/if}}
            {{#if website}}<span class="author-link icon-link">&nbsp;<a href="{{website}}">{{website}}</a></span>{{/if}}



            <span class="author-stats"><i class="icon-stats"></i> {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}</span>

            <br>

            <!-- <span class="author-rss"><i class="icon-feed"></i> &nbsp;<a href="{{@site.url}}/rss">{{name}}</a></span>

            {{#if twitter}}<span class="icon-twitter author-link ">&nbsp;<a href="{{twitter_url}}">{{twitter}}</a></span>{{/if}}
            {{#if facebook}}<span class="icon-facebook author-link ">&nbsp;<a href="{{facebook_url}}">{{facebook}}</a></span>{{/if}} -->

            <span class="author-rss"> &nbsp;<a href="/rss"><i class="icon-feed"></i></a></span>
            {{#if twitter}}&nbsp;<a href="{{twitter_url}}"><i class="icon-twitter"></i></a>&nbsp;{{/if}}
            {{#if facebook}}&nbsp;&nbsp;<a href="{{facebook_url}}"><i class="icon-facebook"></i></a>{{/if}}
        </div>
    </section>
{{/author}}

{{! The main content area on the homepage }}
<main class="content">

    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}

</main>
