{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<nav class="main-nav main-nav--post clearfix">
<!--    <a class="back-button icon-arrow-left" href="{{@blog.url}}">Home</a>-->
        <div class="main-header-content inner ">
           <a href="{{@blog.url}}">

            <h3><span class="back-arrow">← </span>{{@blog.title}}</h3>
            </a>
        </div>
</nav>

<main class="content" role="main">

    <article class="{{post_class}}">
    {{! Everything inside the #post tags pulls data from the post }}
    {{#post}}

        <header class="post-header">
            <h1 class="post-title beta">{{title}}</h1>
            <section class="post-meta">
                <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">Published on {{date format="MMMM Do YYYY"}}</time>{{tags prefix=" &bull; tagged "}}
            </section>
        </header>

        <section class="post-content">
            {{content}}
        </section>

    {{/post}}
    </article>

</main>
