{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{>content-header}}

<main class="content">

    <article class="{{post_class}}">
    {{! Everything inside the #post tags pulls data from the post }}
    {{#post}}

        <header class="post-header">
            <h1 class="post-title typl8-gamma">{{title}}</h1>
            <section class="post-meta">
                <time class="post-date hidden" datetime="{{date format='YYYY-MM-DD'}}">Published on {{date format="MMMM Do YYYY"}}</time>
            </section>
        </header>

        <section class="post-content">
            {{content}}
        </section>
    {{/post}}
    </article>
</main>
