{{!< ../default}}

{{> content-header}}

<main class="inner center-text">

{{#if @member.paid}}

  {{!-- Logged in, paying member: Show account info --}}
  <div class="subscriber-box center-text">

    {{#if @member.avatar_image}}
        <img style="max-width: 10rem;" src="{{@member.avatar_image}}" />
    {{/if}}

    <h1 style="padding: 2rem;" class="account-box-title">Your account</h1>

    {{#foreach @member.subscriptions}}
      <div class="subscription">
        {{#if cancel_at_period_end}}
          <p>
            <strong class="subscription-expiration-warning">Your subscription will expire on {{date current_period_end format="DD MMM YYYY"}}.</strong> If you change your mind in the mean time you can turn auto-renew back on to continue your subscription.
          </p>
        {{else}}
          <p>
            Hey! You have an active {{@site.title}} account with access to all areas. Get in touch if have any problems or need some help getting things updated, and thanks for subscribing.
          </p>
        {{/if}}
        <div class="subscriber-details">
          <div class="subscriber-detail">
            <label class="subscriber-detail-label">Email address: </label>
            <span class="subscriber-detail-content">{{@member.email}}</span>
          </div>

          <div class="subscriber-detail">
            <label class="subscriber-detail-label">Your plan: </label>
            <span class="subscriber-detail-content plan-is-by-{{plan.interval}}">
              {{plan.currency_symbol}}{{price plan.amount}}/{{plan.interval}}
            </span>
          </div>

          <div class="subscriber-detail">
            <label class="subscriber-detail-label">Card: </label>
            <span class="subscriber-detail-content">**** **** **** {{default_payment_card_last4}}</span>
          </div>

          <div class="subscriber-detail">
            <label class="subscriber-detail-label">
                {{#if cancel_at_period_end}}
                    Expires:
                {{else}}
                    Next bill date:
                {{/if}}
            </label>
            <span class="subscriber-detail-content">{{date current_period_end format="DD MMM YYYY"}}</span>
          </div>

        </div>
        <br>
        <a style="transform: scale(80%)" class="btn" href="javascript:"
          data-members-edit-billing
          data-members-success="/account/?stripe=billing-update-success"
          data-members-cancel="/account/?stripe=billing-update-cancel">Edit billing info</a>
        <br>
        {{cancel_link}}
        <br><br>
      </div>
    {{/foreach}}
  </div>

{{else if @member}}

  {{!-- Logged in, not paying: Link to checkout --}}
  <div class="account-box center-text">

    {{#if @member.avatar_image}}
      <img style="max-width: 10rem;" src="{{@member.avatar_image}}" />
    {{/if}}
    <br>
    <h2 style="padding: 2rem;" class="account-box-title">Your account</h2>
    <h4 class="account-box-subtitle">Currently, you're not a subscriber</h4>

    <p>Hey there! <strong>{{@member.email}}</strong> is subscribed to free updates from {{@site.title}}, but doesn't have a paid subscription to unlock full access.</p>
    <div class="authbox-signup">
      <a class="btn primary" href="/signup/">
        <span class="button-content">Subscribe now</span>
      </a>
    </div>
  </div>

{{else}}

  {{!-- Not logged in: Redirect to signin --}}
  <script>window.location = '{{@site.url}}/signin/';</script>

{{/if}}

</main>
